---
import Layout from "@/layouts/Layout.astro"

const metaTitle = "Página no encontrada - MovieEs"
const metaDesc = "Página no encontrada"
---

<Layout title={metaTitle} desc={metaDesc}>
  <main class="h-[60vh] flex flex-col justify-center items-center mt-secondary gap-primary">
    <h1 class="text-title text-4xl md:5xl font-extrabold">404</h1>
    <p class="text-subtitle text-lg">Página no encontrada</p>
    <a href="/moviees/" class="rounded px-primary py-2 flex items-center justify-center bg-btn text-title hover:opacity-90">
      Volver al inicio
      <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
      </svg>
    </a>
  </main>
</Layout>
